TASK1:

----->>> Importing the mysql connector

In [2]:
import mysql.connector as connector

----->>> connected to the littlelemondb with the connection object with the user and password

In [4]:
connection = connector.connect(user = "root", password = "abc@",db="littlelemondb")

----->>> created the cursor object

In [5]:
cursor=connection.cursor()

TASK2:

In [ ]:
----->>> executing the query through cursor

In [6]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [ ]:
----->>> fetching the records from cursor into results object and printing the table names

In [7]:
results=cursor.fetchall()

In [8]:
print(results)

[('bookings',), ('customers',), ('delivery',), ('menu',), ('menulist',), ('orders',), ('staffdetails',)]

TASK3:

executing the join query

In [10]:
Join_query="""select customers.CustomerName,customers.ContactNumber,orders.TotalCost 
from customers inner join orders on customers.CustomerID=orders.CustomerID where orders.TotalCost>60;"""

cursor.execute(Join_query)

----->>> fetching the records into results and printing the output

In [11]:
results=cursor.fetchall()

In [13]:
print(cursor.column_names)

for row in results:
    print(row)

('CustomerName', 'ContactNumber', 'TotalCost')
('Diana Pinto', '351584508', 150)
('Vanessa McCarthy', '351970582', 200)
('Joakim Iversen', '351474048', 250)
('Marcos Romero', '351963569', 300)
('Anna Iversen', '351258074', 100)

In [14]:
connection.close()